/*-------------------------*/
/*BASIC SET UP */
/*-------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #505050;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*-------------------------*/
/*REUSABLE */
/*-------------------------*/


.section {
    margin-left: 50px;
    margin-right: 50px;
    padding: 80px 0px;
}

.box {
    padding: 1%;
}


.row1 {
    max-width: 1000px;
    margin: 0 auto;

}


h1,
h2,
h3 {

    font-weight: 300;
    text-transform: uppercase;
    < !-- border: 3px solid navy;
    -- >
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 150%;
    word-spacing: 3px;
    letter-spacing: 1px;

}

h2 {
    text-align: center;
    font-size: 100%;
    word-spacing: 2px;
    margin-bottom: 15px;
    letter-spacing: 1px;

}

h3 {
    font-size: 110;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: 0 auto;
    margin-top: 15px;
    /*border: 3px solid navy; */
}

/* --- ICONS ----- */
.icon-big{
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 5px;
}

.icon-small{
    font-size: 100%;
    display: inline-block;
    color: orange;
    margin-bottom: 5px;
    margin-right: 15px;
}


/*-------------------------*/
/*PARAGRAPH */
/*-------------------------*/

.long-copy {
    height: 140%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    line-height: 145%;
    font-size: 90%;
}

/*-------------------------*/
/*BUTTONS */
/*-------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;

}

.btn1:link,
.btn1:visited {
    background-color: #f39c12;
    border: 1px solid #f39c12;
    color: #fff;
}

.btn2:link,
.btn2:visited {
    border: 1px solid #f39c12;
    color: #f39c12;
}

.btn:hover,
.btn:active {
    background-color: #2ecc71;
}

.btn1:hover,
.btn1:active {
    border: 1px solid #2ecc71;
}

.btn2:hover,
.btn2:active {
    border: 1px solid #2ecc71;
    color: #fff;
}

/*-------------------------*/
/*HEADER */
/*-------------------------*/



header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    < !-- border: 3px solid navy;
    -- >
}


.hero-text-box {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    < !-- border: 3px solid navy;
    -- >
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    position: relative;
    list-style: none;
    margin-top: 55px;
    margin-right: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #f39c12;
}

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.plan-box div{
    padding: 15px;
    border: 1px solid #f4f4f4;
}

.plan-price{
    color: #f39c12;
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 10px;
}

.plan-price span{
    font-size: 60%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding-left: 10px;
   
}
.plan-box div:last-child{
    text-align: center;
    border: no;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-price-meal{
    
}
